body{
    background-color: wheat;
}

nav{
    display: flex;
    justify-content: space-around;
}

nav ul{
    display: flex;
    justify-content: space-between;
}
nav ul li{
    list-style: none;
    margin-right: 30px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form input{
    margin-top: 20px;
    padding: 3px 10px;
    width: 200px;
    /* margin-left:200px ; */
}

form button{
    margin-top: 20px;
    padding: 3px 10px;
    width: 224px;
}